@font-face {
  font-family: sundrops;
  src:url('/src/font/Sundrops.otf');
}


body {
  background-color: #F6CE6C;
  margin: 0;
  /* display: flex; */
}

.header {
  background-color: #C28F0E;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
}

.header-h1 {
  color: white;
  font-size: 80px; 
  text-align: center;
  font-family: 'sundrops', cursive;
  font-weight: 300;
  padding: 10px;
}

/* BEGINNING OF BRANDS */

.gts-brand {
  margin-top: 200px;
}

.brand-h2 {
  text-align: center;
  color: #C28F0E;
  font-family: 'sundrops', cursive;
  font-weight: 300;
  font-size: 80px;
  background-color: white;
  /* justify-content: ; */
}

.drink-img {
  height: 200px;
  width: 150px;
}